<!DOCTYPE html>
<html lang="en" ng-app="taskApp">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
    <style>
    .completed {
        color : red;
        text-decoration: line-through;
    }
    </style>
    <script src="angular.js"></script>
    <script src="utils/utils.js"></script>
    <script src="utils/filters/trimText.js"></script>
    
    <script src="taskApp/taskApp.js"></script>
    <script src="taskApp/factories/Task.js"></script>
    <script src="taskApp/factories/taskStorage.js"></script>
    <script src="taskApp/services/notificationService.js"></script>
    <script src="taskApp/controllers/taskController.js"></script>
</head>
<body>
    <h1>Task Manager</h1>
    <hr>
    <div ng-controller="taskController">
      <div>
          <input type="range" min="5" max="20" ng-model="trimLength" ng-init="trimLength=10">
      </div>
       <div>
           <i>Task Count = [{{taskList.length}}]</i>
       </div>
        <label for="">Task :</label>
        <input type="text" ng-model="newTask">
        <input type="button" value="Add Task" id="btnAddTask" ng-click="addTask(newTask)">
        <input type="button" value="Remove Completed" ng-click="removeCompleted()">
        <ul id="ulTaskList">
            <li 
                ng-repeat="task in taskList track by $index" 
                ng-click="toggle(task)"
                ng-class="{completed : task.isCompleted}"
            >{{task.name | trimText:trimLength}}  <i>[{{task.created | date:'dd-MMM-yyyy'}}]</i> </li>
        </ul>    
    </div>
    
</body>
</html>